/* Reset e base global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da aplicação */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #efedf1;
  display: flex;
  justify-content: center;
  align-items: start; /* Centraliza horizontalmente, topo verticalmente */
}

/* Scrollbar estilizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.mapBox{
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
}